.user
  = image_tag "icons/user", alt: "user"
  %p= current_user.full_name
%nav
  %ul
    %li
      = link_to "Home", root_path, class: "link-button"
    %li
      = link_to "New Account", new_bank_account_path, "data-turbo-frame": "new_bank_account", class: "link-button"
    %li
      = link_to "Stadistics", root_path, class: "link-button"
  %ul.logout
    %li
      = button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button"