.dropdown-group.space
  .dropdown
    %button
      %span= @cycle.month.capitalize
    %ul.dropdown-menu.hide
      - @bank_account.cycles.each do |cycle|
        %li.dropdown-item
          = link_to cycle.month.capitalize, change_cycle_path(bank_account_id: @bank_account, cycle_id: cycle)
  .dropdown
    %button
      %span= @cycle.year
    %ul.dropdown-menu.hide
      %li.dropdown-item
        %span= @cycle.year
      - @bank_account.cycles.each do |cycle|
        - if cycle.year < @cycle.year
          %li.dropdown-item
            %span= cycle.year