.btn-group
  .dropdown
    %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
      %span= @cycle.month.capitalize
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
      - @bank_account.cycles.each do |cycle|
        %li
          = link_to cycle.month.capitalize, change_cycle_path(bank_account_id: @bank_account, cycle_id: cycle), class: "dropdown-item"
  .dropdown.ms-2
    %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
      %span= @cycle.year
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
      %li
        %span.dropdown-item= @cycle.year
      - @bank_account.cycles.each do |cycle|
        - if cycle.year < @cycle.year
          %li
            %span.dropdown-item= cycle.year