= form_for @bank_account do |f|
  .field
    = f.label :bank
    = f.text_field :bank
  .field
    = f.label :last_four
    = f.text_field :last_four
  .field
    = f.label :sort
    .radio-buttons
      = f.radio_button :sort, "savings"
      = f.label :sort, "Savings"
      = f.radio_button :sort, "checking"
      = f.label :sort, "Checking"
  .actions
    = f.submit 'Save'