.header.space
  .title
    %h3 New Bank Accout
  .close-button
    = link_to "x", root_path, "data-turbo-frame": "_top"
= form_for @bank_account do |f|
  .field.space
    = f.text_field :bank, placeholder: "Bank Name"
  .field.space
    = f.text_field :last_four, placeholder: "Bank Number"
  .field.space
    .radio-buttons
      .group
        = f.radio_button :sort, "savings", checked: true
        = f.label :sort, "Savings"
      .group
        = f.radio_button :sort, "checking"
        = f.label :sort, "Checking"
  .actions
    = f.submit "Add", class: "link-button"