= turbo_frame_tag @bank_account do
  .space
    - if @bank_account.balance >= 0
      %p.balance.positive= format_balance @bank_account.balance
    - else
      %p.balance.negative= format_balance @bank_account.balance
  = render partial: "bank_accounts/cycle_dropdowns"
  .transactions.space
    - @cycle.transactions.each do |transaction|
      - if transaction.amount >= 0
        .transaction
          %p.balance.positive= format_balance transaction.amount
          %p.description= transaction.description
        .empty
      - else
        .empty
        .transaction
          %p.balance.negative= format_balance transaction.amount
          %p.description= transaction.description
  = turbo_frame_tag "new_transaction" do
    .actions
      = link_to "Add a deposit", transactions_new_deposit_path(id: @cycle), class: "link-button space"
      = link_to "Add a expense", transactions_new_expense_path(id: @cycle), class: "link-button"