= turbo_frame_tag @bank_account do
  .pt-2
    - if @bank_account.balance >= 0
      %p.text-success.fw-bold.card.d-inline.px-2.py-1= format_balance @bank_account.balance
    - else
      %p.text-danger.fw-bold.card.d-inline.px-2.py-1= format_balance @bank_account.balance
  .mt-4.d
    = render partial: "bank_accounts/cycle_dropdowns"
  - unless @cycle.transactions.blank?
    .card.mt-5.bg-light.transactions
      .card-body
        %ul
          - @cycle.transactions.each do |transaction|
            %li
              - if transaction.amount >= 0
                .d-flex.justify-content-start.align-items-center.mb-3
                  %p.text-success.fw-bold.card.px-2.py-1.me-2.text-nowrap= format_balance transaction.amount
                  %p.text-truncate= transaction.description
              - else
                .d-flex.justify-content-end.align-items-center.mb-3
                  %p.text-danger.fw-bold.card.px-2.py-1.me-2.text-nowrap= format_balance transaction.amount
                  %p.text-truncate= transaction.description
  = turbo_frame_tag "new_transaction" do
    .mt-4
      = link_to "New deposit", transactions_new_deposit_path(id: @cycle), class: "btn btn-primary"
      = link_to "New expense", transactions_new_expense_path(id: @cycle), class: "btn btn-primary ms-1"