%h2= @bank_account.bank
%p= "#{@cycle.month.capitalize}/#{@cycle.year}"
= link_to 'Add a deposit', transactions_new_deposit_path(id: @cycle)
= link_to 'Add a expesne', transactions_new_expense_path(id: @cycle)